{
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "parser": "typescript",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    }
  ]
}
  